:root{
    --horas-deg: -90deg;
    --minutos-deg: -90deg;
    --segundos-deg: -90deg;
    --bgc-border-clock: silver;
    --bgc-clock: white;
    --bdc-line: gray;
    --fluorescent-green: #d7fad7;
    --fluorescent-red: red;
    --wall: lightskyblue;
}

body{
    margin: 0;
    background-color: var(--wall);
    min-height: 100vh;
    display: grid;
    place-items: center;
}

/* Estilos estructura del reloj*/
.container{
    width: 650px;
    height: 650px;
    padding: 10px;
    clip-path: circle(50%);
    border: 40px  var(--fluorescent-green);
    border-style: double dashed; 
    background-color:  var(--bgc-border-clock);
    transition: background-color 0.3s border-color 0.3s;
}

.reloj{
    width: 100%;
    height: 100%;
    clip-path: circle(50%);
    background-color: var(--bgc-clock);
    display: flex;
    position: relative;
    transition: background-color 0.3s;
}

/* Estilos para líneas y números*/

div[class^='linea']{
    width: 98%;
    height: 1%;
    background-color: var(--fluorescent-green);
    border-radius: 1rem;
    border: 2px solid var(--bdc-line);
    align-self: center;
    margin-left: 1%;
    position: absolute;
    transition: background-color 0.3s border-color 0.3s;
}
.linea-2{
    transform: rotate(30deg);
}
.linea-3{
    transform: rotate(60deg);
}
.linea-4{
    transform: rotate(90deg);
}
.linea-5{
    transform: rotate(120deg);
}
.linea-6{
    transform: rotate(150deg);
}

div[class^='segundo-linea']{
    width: 98%;
    height: 0.2rem;
    background-color: #222222;
    border-radius: 1rem;
    align-self: center;
    margin-left: 1%;
    position: absolute;
}
.segundo-linea-1{
    transform: rotate(-84deg);
}
.segundo-linea-2{
    transform: rotate(-78deg);
}
.segundo-linea-3{
    transform: rotate(-72deg);
}
.segundo-linea-4{
    transform: rotate(-66deg);
}
.segundo-linea-5{
    transform: rotate(-54deg);
}
.segundo-linea-6{
    transform: rotate(-48deg);
}
.segundo-linea-7{
    transform: rotate(-42deg);
}
.segundo-linea-8{
    transform: rotate(-36deg);
}
.segundo-linea-9{
    transform: rotate(-24deg);
}
.segundo-linea-10{
    transform: rotate(-18deg);
}
.segundo-linea-11{
    transform: rotate(-12deg);
}
.segundo-linea-12{
    transform: rotate(-6deg);
}
.segundo-linea-13{
    transform: rotate(6deg);
}
.segundo-linea-14{
    transform: rotate(12deg);
}
.segundo-linea-15{
    transform: rotate(18deg);
}
.segundo-linea-16{
    transform: rotate(24deg);
}
.segundo-linea-17{
    transform: rotate(36deg);
}
.segundo-linea-18{
    transform: rotate(42deg);
}
.segundo-linea-19{
    transform: rotate(48deg);
}
.segundo-linea-20{
    transform: rotate(54deg);
}
.segundo-linea-21{
    transform: rotate(66deg);
}
.segundo-linea-22{
    transform: rotate(72deg);
}
.segundo-linea-23{
    transform: rotate(78deg);
}
.segundo-linea-24{
    transform: rotate(84deg);
}
.reloj-bg{
    width: 85%;
    height: 85%;
    clip-path: circle(50%);
    background-color: var(--bgc-clock);
    align-self: center;
    margin: auto;
    transition: background-color 0.3s;
} 
div[class^='nro']{
    display: inline-block;
    position: absolute;
    font-size: 3rem;
    text-shadow: 2px 0 0 #222222, -2px 0 0 #222222, 0 2px 0 #222222, 0 -2px 0 #222222, 1px 1px #222222, -1px -1px 0 #222222, 1px -1px 0 #222222, -1px 1px 0 #222222;
    color: var(--fluorescent-green);
    transition: color 0.3s;

}
.nro-1{
    margin-top: 15%;
    margin-left: 65%;
}
.nro-2{
    margin-top: 26%;
    margin-left: 78%;
}
.nro-3{
    margin-top: 45%;
    margin-left: 85%;
}

.nro-4{
    margin-top: 63%;
    margin-left: 78%;
}
.nro-5{
    margin-top: 75%;
    margin-left: 65%;
}
.nro-6{
    margin-top: 80%;
    margin-left: 47%;
}
.nro-7{
    margin-top: 75%;
    margin-left: 30%;
}
.nro-8{
    margin-top: 63%;
    margin-left: 18%;
}
.nro-9{
    margin-top: 45%;
    margin-left: 12%;
}
.nro-10{
    margin-top: 26%;
    margin-left: 15%;
}
.nro-11{
    margin-top: 15%;
    margin-left: 27%;
}
.nro-12{
    margin-top: 10%;
    margin-left: 45%;
}

/* estilo para las agujas */
.hora{
    width: 30%;
    height: 5%;
    background-color: var(--fluorescent-green);
    border: 3px solid #222222;
    align-self: center;
    margin-left: 49%;
    border-radius: 2rem 90% 90% 2rem;
    position: absolute;
    transform-origin: center left;
    transition: background-color 0.3s;
}

.minuto{
    width: 40%;
    height: 3%;
    background-color: var(--fluorescent-green);
    border: 3px solid #222222;
    align-self: center;
    margin-left: 49%;
    border-radius: 1rem 60% 60% 1rem;
    position: absolute;
    transform-origin: center left;
    transition: background-color 0.3s;
}

.segundo{
    width: 45%;
    height: 1%;
    background-color: var(--fluorescent-red);
    align-self: center;
    margin-left: 49%;
    border-radius: 0.5rem 90% 90% 0.5rem;
    position: absolute;
    transform-origin: center left;
    transition: background-color 0.3s;
}


.center{
    width: 8%;
    height: 8%;
    display: flex;
    clip-path: circle(50%);
    background-color: #222222;
    align-self: center;
    margin-left: 45%;
    position: absolute;
    cursor: pointer;
} 

.center::before{
    content:"";
    width: 50%;
    height: 50%;
    border: .2rem solid var(--fluorescent-red);
    border-radius: 50%;
    position: absolute;
    top: 20%;
    left: 19%;
    transition: background-color 0.3s;
}
.center::after{
    content:"";
    width: 10%;
    height: 30%;
    border: .2rem solid #222222;
    background-color: var(--fluorescent-red);
    border-radius: 1rem;
    position: absolute;
    top: 10%;
    left: 38%;
    transition: background-color 0.3s;
}

/* estilos para aplicar animación a las agujas*/
.animar-horas{
    animation: hours-turn 86400s infinite linear;
}

.animar-minutos{
    animation: minutes-turn 3600s infinite linear;
}

.animar-segundos{
    animation: seconds-turn 60s infinite linear;
}

@keyframes hours-turn{
    0% {
        transform: rotate(var(--horas-deg));
    }
    100% {
        transform: rotate(calc(var(--horas-deg) + 360deg));
    }
}

@keyframes minutes-turn{
    0% {
        transform: rotate(var(--minutos-deg));
    }
    100% {
        transform: rotate(calc(var(--minutos-deg) + 360deg));
    }
}

@keyframes seconds-turn{
    0% {
        transform: rotate(var(--segundos-deg));
    }
    100% {
        transform: rotate(calc(var(--segundos-deg) + 360deg));
    }
}