:root{
    --dificulty: 1s;
    --size: min(50vh, 50vw);
}
body, .game__container{  
    margin: 0;
    user-select: none;
    background-color: wheat;
}
.game__container{
    min-height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
}
.simon__border{
    width: var(--size);
    height: var(--size);
    margin: 60px;
    background-color: #111111;
    border: solid 3px black;
    border-radius: 50%;
    padding: 2%;
    box-shadow: #333333 10px 10px 8px; 
}
.simon__container, .yellow, .green, .red, .blue, .disable__buttons{
    width: 100%;
    height: 100%;
}
.simon__container{
    background-color: #111111;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}
[class^='button']:focus, .green:focus, .red:focus, .blue:focus, .yellow:focus, .power:focus{
    outline: none;
}
.yellow, .green, .red, .blue{
    position: absolute;
    display: block;
    border: none;
}
.green, .red{
    top: -52%;
}
.green, .yellow{
    left: -52%;
}
.yellow, .blue{
    bottom: -52%;
}
.red, .blue{
    right: -52%;
}
.green{
    background-color: darkolivegreen;
}
.red{
    background-color: #8f2020;
}
.yellow{
    background-color: darkgoldenrod;
}
.blue{
    background-color: #332685;
}
.green:active{
    background-color: lime;
}
.red:active{
    background-color: red;
}
.yellow:active{
    background-color: yellow;
}
.blue:active{
    background-color: dodgerblue;
}
.disable__buttons{
    background-color: transparent;
    position: absolute;
    top: 0%;
    left: 0%;
}
.center{
    width: 60%;
    height: 60%;
    background-color: #111111;
    border-radius: 50%;
    position: absolute;
    top: 20%;
    left: 20%;
    display: grid;
    place-items: center;
}
.disable__center{
    width: 60%;
    height: 60%;
    background-color: transparent;
    border-radius: 50%;
    position: absolute;
}
.border__power{
    width: 70%;
    height: 70%;
    border-radius: 50%;
    background-color: black;
    display: grid;
    place-items: center;
}
.button__power{
    width: 50%;
    height: 50%;
    display: flex;
    border-radius: 50%;
    background-color: #111111;
    border: none;
    position: absolute;
    cursor: pointer;
    top: 25%;
    left: 25%;
    overflow: hidden;
} 
.button__power::before{
    content:"";
    width: 60%;
    height: 60%;
    background-color: white;
    clip-path: polygon(65% 30%, 65% 27%, 67% 24%, 71% 23%, 75% 25%, 78% 29%, 81% 33%, 83% 38%, 85% 44%, 86% 49%, 85% 54%, 84% 59%, 83% 64%, 79% 70%, 73% 77%, 66% 82%, 56% 85%, 46% 85%, 37% 83%, 30% 79%, 23% 73%, 17% 64%, 15% 55%, 15% 46%, 17% 37%, 20% 31%, 26% 24%, 31% 23%, 34% 25%, 35% 28%, 34% 32%, 30% 36%, 28% 41%, 26% 46%, 26% 52%, 28% 58%, 31% 64%, 34% 67%, 39% 70%, 45% 72%, 53% 73%, 62% 70%, 68% 65%, 72% 57%, 73% 53%, 73% 46%, 72% 40%, 68% 35%, 56% 35%, 56% 55%, 51% 58%, 44% 55%, 44% 16%, 46% 13%, 50% 12%, 53% 12%, 56% 15%, 56% 35%, 68% 35%);
    position: absolute;
    top: 20%;
    left: 20%;
    transition: background-color 0.3s linear;
}
.sequence-ok.button__power::before{
    background-color: lime;
}
.sequence-fail.button__power::before{
    background-color: red;
}
.button__power:active::before{
    transform: scale(0.9);
}
/* botones de configuración y tabla de puntajes */
.button__scores, .button__config{
    display: inline-block;
    position: fixed;
    text-decoration: none;
    top: 10px;
    background-color: #222222;
    border: 5px solid;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    box-shadow: #111111 5px 5px 8px; 
    transition: transform .3s;
}
.button__scores{
    border-color: goldenrod; 
    right: 90px;
}
.button__scores::before, .button__scores::after, .button__config::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: transform 1s;
}
.button__scores::before, .button__scores::after{
    background-color: goldenrod;
}
.button__scores::before{
    clip-path: polygon(28% 15%, 72% 15%, 72% 42%, 69% 51%, 63% 58%, 57% 61%, 56% 72%, 63% 73%, 63% 77%, 69% 77%, 69% 85%, 31% 85%, 31% 77%, 37% 77%, 37% 73%, 43% 72%, 43% 61%, 36% 57%, 30% 50%, 27% 43%);
}
.button__scores::after{
    clip-path: polygon(18% 21%, 23% 50%, 27% 49%, 23% 25%, 76% 25%, 72% 45%, 26% 44%, 27% 49%, 77% 49%, 82% 21%); 
}
.button__scores:hover::after, .button__scores:hover::before{
    transform: scaleX(-1);
}
.button__scores:active, .button__config:active{
    transform: scale(0.8);
    box-shadow: none;
}
.button__config{
    border-color: darkcyan; 
    right: 5px;
}
.button__config::before{
    background-color: darkcyan;
    clip-path: polygon(19% 21%, 31% 25%, 38% 21%, 40% 8%, 60% 9%, 62% 21%, 69% 25%, 81% 21%, 91% 38%, 81% 46%, 81% 55%, 64% 55%, 64% 48%, 62% 41%, 56% 37%, 46% 36%, 39% 40%, 36% 47%, 36% 52%, 37% 58%, 41% 62%, 44% 64%, 48% 65%, 55% 64%, 60% 61%, 63% 58%, 64% 55%, 81% 55%, 91% 62%, 80% 79%, 69% 75%, 62% 79%, 59% 91%, 40% 91%, 38% 79%, 31% 75%, 19% 79%, 10% 62%, 19% 54%, 19% 46%, 9% 38%);
}
.button__config:hover::before{
    transform: rotate(360deg);
}
/* popup de configuración */
.popup__container{
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    display: grid;
    place-items: center;
}
.form__config{
    background-color: #222222;
    border: 5px solid darkcyan;
    border-radius: 10px;
    padding: 20px 40px;
    font-family: sans-serif;
    color: darkcyan;
}
.config__input{
    display: block;
    width: 240px;
    margin-bottom: 20px;
}
.config_label{
    margin-right: 20px;  
}
.config__div{
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}
.button__ok, .button__cancel, .button__close{
    display: inline-block;
    background-color: transparent;
    border-radius: 5px;
    text-decoration: none;
    font-family: sans-serif;
   transition: transform 0.3s;
}
.button__ok, .button__cancel{
    border: 2px solid darkcyan;
    color: darkcyan;
    margin-left: 20px;
    padding: 5px 3px;
}
.button__ok:hover, .button__cancel:hover{
    color: goldenrod;
    border-color: goldenrod;
}
.button__ok:active, .button__cancel:active{
    transform: scale(0.9);
}
.invisible{
    display: none;
}
.sequences, .selected__dificulty, .player__name{
    margin: 0;
    position: fixed;
    background-color: #222222;
    border-radius: 8px;
    padding: 5px;
    font-family: sans-serif;
    font-weight: bold;
}
.sequences, .selected__dificulty{
    color: darkcyan;
    border: 6px solid darkcyan;
    bottom: 5px;
}
.player__name{
    left: 5px;
    top: 5px;
    color: goldenrod;
    border: 6px solid goldenrod;
}
.selected__dificulty{
    left: 5px;
}
.sequences{
    right: 5px;
}
.button__close{
    border: 2px solid goldenrod;
    color: goldenrod;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 1px 3px;
    font-weight: bold;
}
/* tabla de puntajes */
.scores__container{
    background-color: #222222;
    border: 5px solid goldenrod;
    border-radius: 10px;
    padding: 60px 40px 40px;
    width: 60%;
    height: 70%;
    min-width: 360px;
    position: relative;
    font-family: sans-serif;
    color: goldenrod;
    overflow: hidden;
}
.scores__title{
    position: absolute;
    top: -5px;
    width: 100%;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
.button__close:hover{
    color: darkcyan;
    border-color: darkcyan;
}
.button__close:active{
    transform: scale(0.5);
}
.current__score-table{
    position: relative;
    width: 100%;
    overflow-y: auto;
    display: grid;
    grid-template-columns: 6fr 1fr;
    grid-template-rows: 60px 30px 60px;
    grid-auto-rows: 30px;
}
.scores__table{
    position: relative;
    width: 100%;
    height: 50vh;
    overflow-y: auto;
    display: grid;
    grid-template-columns: 6fr 1fr;
    grid-auto-rows: 30px;
    margin-bottom: 20px;
}
.score__row, .score-table__div{
    padding: 0 10px;
    border-bottom: 2px solid goldenrod;
    height: 20px;
    margin-bottom: 5px;
}
.score-table__div{
    border-bottom: 2px solid darkcyan;
}
.text-end {
    text-align: end;
}
.titles{
    font-size: 23px;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 4px double goldenrod;
    margin-top: 20px;
    
}
.current__score{
    color: darkcyan;
    border-color: darkcyan;
}
@media (max-width: 850px) {
    .score__row, .current__score{
        font-size: 12px;
    }
    .titles, .scores__title{
        font-size: 20px;
    }
    .scores__title{
        margin-bottom: 20px;
        text-align: start;
    } 

}
/* animaciones */
.animate-power-play.button__power::before{
    animation: animate-power-play 1s linear;
}
@keyframes animate-power-play {
    25%{
        background-color: blue;
    }
    50%{
        background-color: white;
    }  
    25%{
        background-color: blue;
    }
    100%{
        background-color: white;
    }    
}
.animate-green{
    animation: animate-green var(--dificulty);
}
@keyframes animate-green {
    100%{
        background-color: lime;
    }    
}
.animate-red{
    animation: animate-red var(--dificulty);
}
@keyframes animate-red {
    100%{
        background-color: red;
    }    
}
.animate-yellow{
    animation: animate-yellow var(--dificulty);
}
@keyframes animate-yellow {
    100%{
        background-color: yellow;
    }    
}
.animate-blue{
    animation: animate-blue var(--dificulty);
}
@keyframes animate-blue {
    100%{
        background-color: dodgerblue;
    }    
}
